DEBUG=false
ALLOWED_ORIGINS=http://127.0.0.1:5500,http://localhost:5173

# Optional API protection
# API_TOKEN=changeme

# OpenAI models
OPENAI_API_KEY=
CHAT_MODEL=gpt-4o-mini
EMBEDDING_MODEL=text-embedding-3-large
TEMPERATURE=0.2

# Vector DB
VECTOR_BACKEND=qdrant
CHROMA_DIR=.chroma
# QDRANT_URL=
# QDRANT_API_KEY=

QDRANT_URL="https://e9a16d6b-5d9f-4e48-bb2f-841e5fcafb27.eu-west-1-0.aws.cloud.qdrant.io"
QDRANT_API_KEY="eyJhbGciO"

API_TOKEN = "swaedfwsedfwe"